.relatorios-container {
    padding: 20px;
  }
  
  .filtro {
    display: flex;
    gap: 20px;
    margin-bottom: 20px;
  }
  
  table {
    width: 100%;
  }
  
  .total-debitos {
    margin-top: 20px;
    text-align: right;
    font-size: 16px;
  }
  